ConfigParser
asn1crypto
certifi
chardet
Click
cryptography
enum34
Flask
Flask-OAuthlib
idna
mysqlclient
ipaddress
itsdangerous
Jinja2
keyring
keyrings.alt
MarkupSafe
mysql-connector-python
oauthlib==1.1.2
paramiko
pexpect
pyasn1
pycrypto
pyxdg
requests
flask-sqlalchemy
flask-cors
flask-restful
flask-script
flask-migrate
requests-oauthlib==1.0.0
SecretStorage
six
SQLAlchemy
urllib3
Werkzeug
celery
flask_redis
pandas
numpy
sklearn
boto3
xgboost
joblib
redis==3.3.8
base64
